<legend>Theme</legend>
<div class='col-sm-3'>
	<div class='theme1 theme-box'>
		Theme 1
	</div>
</div>
<div class='col-sm-3'>
	<div class='theme2 theme-box'>
		Theme 2
	</div>
</div>
<div class='col-sm-3'>
	<div class='theme3 theme-box'>
		Theme 3
	</div>
</div>
<div class='col-sm-3'>
	<div class='theme4 theme-box'>
		Theme 4	
	</div>
</div>
<div class='col-sm-3'>
	<div class='theme5 theme-box'>
		default
	</div>
</div>