
%span.toggle-button
  .menu-bar.menu-bar-top
  .menu-bar.menu-bar-middle
  .menu-bar.menu-bar-bottom
.menu-wrap
  .menu-sidebar
    %ul.menu
    - enrollments_lookup
    - if @enrollments.empty?
      %h3 You are currently not enrolled in any courses
    - else
      - @enrollments.each do |roll|
        - find_course(roll.course_id)
        %h4= @course.title
        - @course.learns.each do |learn|
          %ul
            - find_learn(learn.id)
            - @learn.each do |learn|
              .dropdown
                .row
                  %li.dropdown-toggle{"data-toggle" => "dropdown"}
                    = learn.title
                    %span.caret
                  %ul.dropdown-menu.relative.dashboard
                    - learn.lectures.each do |lecture|
                      %li
                        = link_to lecture.title, learn_path(learn)


