.container
	- @article.each do |article|
		.col-sm-6
			%h2= link_to article.title, article
			%p 
				Published at 
				= article.created_at.strftime('%b %d, %y')
				%p= markdown(truncate(article.content, length: 200))
	
	