<div class='home-banner'>
	<h1 class='text-center overlay'>RAM University</h1>
</div>
<div class='row'>
	<div class='container-fluid bg-grey'>
		<div class='container'>
			<h2 class='text-center'>Features</h2>
			<p class='text-center'>Learn about what we have to offer here at RAM University!</p>
			<div class='col-sm-4'>
				<div class='blocks'>
					<div class='col-sm-2 padding-none' align='center' >
						<div class='flag red'>
							<span class='glyphicon glyphicon-headphones white'></span>
						</div>
					</div>
					<div class='col-sm-10 padding-none'>
						<div class='blocks2'>
							<p class='block-header text-center'>Block 1 stuff</p>
							<div class='block-text'>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores rem deleniti, ducimus quo natus autem necessitatibus, asperiores voluptas nulla. Aliquid nulla ipsam quis quidem, aspernatur, facilis temporibus modi aperiam.</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-4'>
				<div class='blocks'>
					<div class='col-sm-2 padding-none' align='center' >
						<div class='flag purple'>
							<span class='glyphicon glyphicon-pencil white'></span>
						</div>
					</div>
					<div class='col-sm-10 padding-none'>
						<div class='blocks2'>
							<p class='block-header text-center'>Block 2 stuff</p>
							<div class='block-text'>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores rem deleniti, ducimus quo natus autem necessitatibus, asperiores voluptas nulla. Aliquid nulla ipsam quis quidem, aspernatur, facilis temporibus modi aperiam.</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-4'>
				<div class='blocks'>
					<div class='col-sm-2 padding-none' align='center' >
						<div class='flag pink'>
							<span class='glyphicon glyphicon-search white'></span>
						</div>
					</div>
					<div class='col-sm-10 padding-none'>
						<div class='blocks2'>
							<p class='block-header text-center'>Block 3 stuff</p>
							<div class='block-text'>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores rem deleniti, ducimus quo natus autem necessitatibus, asperiores voluptas nulla. Aliquid nulla ipsam quis quidem, aspernatur, facilis temporibus modi aperiam.</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-4'>
				<div class='blocks'>
					<div class='col-sm-2 padding-none' align='center' >
						<div class='flag green'>
							<span class='glyphicon glyphicon-envelope white'></span>
						</div>
					</div>
					<div class='col-sm-10 padding-none'>
						<div class='blocks2'>
							<p class='block-header text-center'>Block 4 stuff</p>
							<div class='block-text'>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores rem deleniti, ducimus quo natus autem necessitatibus, asperiores voluptas nulla. Aliquid nulla ipsam quis quidem, aspernatur, facilis temporibus modi aperiam.</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-4'>
				<div class='blocks'>
					<div class='col-sm-2 padding-none' align='center' >
						<div class='flag light-blue'>
							<span class='glyphicon glyphicon-sunglasses white'></span>
						</div>
					</div>
					<div class='col-sm-10 padding-none'>
						<div class='blocks2'>
							<p class='block-header text-center'>Block 5 stuff</p>
							<div class='block-text'>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores rem deleniti, ducimus quo natus autem necessitatibus, asperiores voluptas nulla. Aliquid nulla ipsam quis quidem, aspernatur, facilis temporibus modi aperiam.</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-4'>
				<div class='blocks'>
					<div class='col-sm-2 padding-none' align='center' >
						<div class='flag orange'>
							<span class='glyphicon glyphicon-thumbs-up white'></span>
						</div>
					</div>
					<div class='col-sm-10 padding-none'>
						<div class='blocks2'>
							<p class='block-header text-center'>Block 6 stuff</p>
							<div class='block-text'>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores rem deleniti, ducimus quo natus autem necessitatibus, asperiores voluptas nulla. Aliquid nulla ipsam quis quidem, aspernatur, facilis temporibus modi aperiam.</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='container-fluid'>
		<div class='container'>
			<h2 class='text-center'>Latest Courses</h2>
			<p class='text-center'><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum in cumque cupiditate mollitia consequuntur</i></p>
			<% @course = Course.all %>
				<% @course.each do |course| %>
				<a href="/courses/<%=course.id%>">
					<div class='col-sm-4'>
						<div class='blocks2'>
							<p class='course-block-header text-center'><%= course.title %></p>
							<div class='block-text'>
								<p><%= course.description %></p>	
							</div>
						</div>
					</div>
				</a>
			<% end %>
		</div>
	</div>
</div>
<div class='row'>
	<div class='container-fluid bg-grey'>
		<div class='container'>
			<h2 class='text-center'>Feedback</h2>
			<div class='col-sm-6'>
	
					<p class='speech'>I LUV RAM MOUNTS!!!!! XOXO</p>

				<div class='user-feedback'>
					<img src="http://www.bandmine.com/photos/18/10/57/b/p_lhm.jpg" class='circle'>
					<p><strong>Jason R.</strong> <span class='grey'><i>@ RAM Mounts</i></span></p>
					<span class='glyphicon glyphicon-star gold'></span>
					<span class='glyphicon glyphicon-star gold'></span>
					<span class='glyphicon glyphicon-star gold'></span>
					<span class='glyphicon glyphicon-star gold'></span>
					<span class='glyphicon glyphicon-star-empty gold'></span>
					<p><i>Nov. 10, 2016</i></p>
				</div>
			</div>
		</div>
	</div>
</div>