<!-- - @module.each do |m|
	=link_to learn_path(m) do
		.col-md-6.col-sm-3.flip-container
			.flipper
				.front.tile
					.front-title= m.title
					.col-sm-4
						%img{:src => "#{m.img}", class: "img-responsive"}
					.col-sm-8
						%p= m.description
				.back.tile
					.back-title
						-m.lectures.each do |l|
							- if l.learn_id == m.id
								.col-sm-6
									%p= l.title			 -->
Courses
<% if !@courses.empty? %>
	<% @courses.each do |course| %>
		<h1><%= link_to "#{course.title}", course_path(course) %></h1>
		<p><%= course.description %></p>
	<% end %>
<% end %>