<!-- - @module.each do |m|
	=link_to learn_path(m) do
		.col-md-6.col-sm-3.flip-container
			.flipper
				.front.tile
					.front-title= m.title
					.col-sm-4
						%img{:src => "#{m.img}", class: "img-responsive"}
					.col-sm-8
						%p= m.description
				.back.tile
					.back-title
						-m.lectures.each do |l|
							- if l.learn_id == m.id
								.col-sm-6
									%p= l.title			 -->



<h1 class='text-center'>Welcome to the <strong>RAM</strong> University course list</h1>
<br>
<br>
<% if @courses %>
	<% @courses.each do |course| %>
	  	<a href='/courses/<%= course.id %>'>
		  	<div class="col-sm-4 clearfix">
		  		<div class='course-card'>
					<h2 class="text-center"><%= course.title %></h2>
					<p><%= course.description %></p>
				</div>
			</div>
		</a>
	<% end %>
<% end %>
