<div class='container-fluid background-grey'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-9'>
				<h2>Get RAM Mount Product Certified</h2>
				<img src="https://www.rammount.com/images/ramu/product-illustrations.png" class='img-responsive' alt='product'>
			</div>
			<div class='col-sm-3'>
				<%= render "devise/registrations/new_partial" %>
			</div>
		</div>
	</div>
</div>
<div class='container'>
	<div class='row'>
		<div class='col-sm-6'>
			<h2>RAM Mount Product Certification</h2>
			<p class='red'>Benefits include</p>
			<ul>
				<li>Gain a solid foundation of RAM Mounts</li>
				<li>Learn about new mounting solutions</li>
				<li>Ongoing training directy from RAM</li>
				<li>Blah Blah Blah</li>
				<li>Certified Badges for Individuals & Dealers</li>
			</ul>
		</div>
		<div class='col-sm-6'>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Myyc7UBzyl0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>