.container
	.col-sm-8.col-sm-offset-2
		%h1 Edit Learn

		= simple_form_for @learn, :method => 'put' do |f|
			=	f.input :title
			= 	f.input :description
			= 	f.input :img, label: 'Image'
			=	f.input :course_id, label: 'Course ID'
			= f.submit
