.container

	%h1= @section.title  #@learn.title
	%p= @section.description   #@learn.description
	-is_enrolled(@section.course_id)
	-if @enrolled == true
		=will_paginate @lectures	
		- @lectures.each do |l|
			=render partial: 'lectures/show', locals: {:lecture => l}
	-else
		- @lectures.each do |l|
			%h2= l.title

	= will_paginate @lectures
