<h1>Course Edit</h1>
<%= render 'form' %>
<% @course.learns.each do |learn| %>
	<ul>
	<li><%= link_to "#{learn.title}", edit_course_learn_path(params[:id],learn) %></li>
	<% learn.lectures.each do |lecture| %>
		<ul>
			<li><td><%= link_to "#{lecture.title}", edit_lecture_path(@course,learn, lecture) %></td></li>
		</ul>
	<% end %>
	</ul>
<% end %>

<h2>Add Sections to this Course </h2>
<% @learns = Learn.all %>
<% @learns.each do |learns| %>
  <h3><%= link_to "#{learns.title}", edit_course_learn_path(params[:id],learns) %> </h3>
<% end %>