<div class="container">
  <h1 class="text-center">RAM University Courses</h1>

<% if user_signed_in? %>
	<%= render 'learns/course_partial' %>
<% else %>
	<%= render 'learns/intro_partial' %>
<% end %>
</div>

