.hash-cell {
	padding: 1em;
}

.button-cell {
  a {
  	width: 75px;
  	margin-bottom: 10px;
  }
}

iframe html body #templates {
	display: block !important;

	#badge-ask-template {
		display: block !important;
	}
}
