.background-grey{
	background-color: #ccc;
	background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: -30px;
}

.course-card-link:hover {
  text-decoration: none;
}

.course-card {
	background-color: #F4F4F4;
	border: solid 1px #000;
	border-radius: 10px;
	color: #222 !important;
	box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.45);
	transition: all .5s ease;
	padding: 10px;
	margin: 10px 0px;
	&:hover {
		text-decoration: none;
		transform: scale(1.1);
	}
}
