.course-card {
	background-color: #F4F4F4;
	border: solid 1px #000;
	border-radius: 10px;
	color: #222 !important;
	box-shadow: 5px 5px 5px;
	transition: all .5s ease;

	&:hover {
		text-decoration: none;
		transform: scale(1.1);
	}
}
